<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/login-boots.css">
    <title>Nexus</title>
    <%- include('./partials/head.ejs') %>

</head>

<body style="background-color: #00132B;;">
    <img src="/images/nexus.png" class="imagen" alt="logo">
    <!-- Default form login -->
    <form class="text-center p-5" id="box" action="#!">
  
        <h1 class="h4 mb-4">Registrate</h1>
                             <!-- Name -->
                   <input type="text" name="fname" id="inputs" placeholder="Nombre">
                        <small id="mensajeDebajoDeInput" class="form-text text-muted">
                            <% if (typeof errores != 'undefined') { %>
                                <p style="color: red">
                                    <% for( let i = 0; i < errores.length; i++ ) { %>
                                        <% if (errores[i].param == 'fname') { %>
                                            <%= errores[i].msg %> 
                                        <% } %>
                                <% } %>
                                 </p>
                                
                            <% } else { %>
                                Tus datos estan seguros con nostros
                            <% } %>
                        </small>
                        <!-- Last Name -->
                    <input type="text" name="lname" id="inputs" placeholder="Apellido">
                        <small id="mensajeDebajoDeInput" class="form-text text-muted">
                            <% if (typeof errores != 'undefined') { %>
                                <p style="color: red">
                                    <% for( let i = 0; i < errores.length; i++ ) { %>
                                        <% if (errores[i].param == 'lname') { %>
                                            <%= errores[i].msg %> 
                                        <% } %>
                                <% } %>
                                 </p>
                                
                            <% } else { %>
                                Tus datos estan seguros con nostros
                            <% } %>
                        </small>

                         <!-- Email -->
                        <input type="email" name="email" id="inputs" placeholder="Correo electronico">
                        <small id="mensajeDebajoDeInput" class="form-text text-muted">
                            <% if (typeof errores != 'undefined') { %>
                                <p style="color: red">
                                    <% for( let i = 0; i < errores.length; i++ ) { %>
                                        <% if (errores[i].param == 'email') { %>
                                            <%= errores[i].msg %> 
                                        <% } %>
                                <% } %>
                                 </p>
                                
                            <% } else { %>
                               Nunca compartiremos tu correo con nadie
                            <% } %>
                        </small>

                        <!-- Email 2 -->
                    <input type="email" name="email" id="inputs" placeholder="Correo electronico">
                        <small id="mensajeDebajoDeInput" class="form-text text-muted">
                            <% if (typeof errores != 'undefined') { %>
                                <p style="color: red">
                                    <% for( let i = 0; i < errores.length; i++ ) { %>
                                        <% if (errores[i].param == 'emailConfirm') { %>
                                            <%= errores[i].msg %> 
                                        <% } %>
                                <% } %>
                                 </p>
                                
                            <% } %>
                        </small>
                   
                    <!-- Password -->
                      <input type="password" name="pass" id="inputs" placeholder="Contraseña">
                        <small id="mensajeDebajoDeInput" class="form-text text-muted">
                            <% if (typeof errores != 'undefined') { %>
                                <p style="color: red">
                                    <% for( let i = 0; i < errores.length; i++ ) { %>
                                        <% if (errores[i].param == 'pass') { %>
                                            <%= errores[i].msg %> 
                                        <% } %>
                                <% } %>
                                 </p>
                                
                            <% } %>
                        </small>
                     <!-- Sign in button -->
      <button class="btn btn-info" id="ingresar" type="submit">Crear cuenta</button>

      <div class="d-flex justify-content-around">
          <div>
              <!-- Photo -->
              <div class="form-group">
                <label for="exampleInputPassword1" id="contraseña" placeholder="Contraseña">Foto de perfil</label>
                <input type="file" id="inputsFormulario" aria-describedby="emailHelp" name="user">
            </div>
          </div>
          <div>
              <!-- Forgot password -->
              <a href="">¿No recuerdas tu contraseña?</a>
          </div>
      </div>

      <!-- Register -->
      <p>Tienes una cuenta?
          <a href="/users/login">Inicia Sesión</a>
      </p>

      <!-- Social login -->
      <p>Ingresar con:</p>

      <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic" href="#">
              <i class="fab fa-facebook-f white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic" href="#">
              <i class="fab fa-twitter white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic" href="#">
              <i class="fab fa-google-plus-g white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic" href="#">
              <i class="fab fa-linkedin-in white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic" href="#">
              <i class="fab fa-instagram white-text"> </i>
          </a>

      </div>
      <!-- Grid column -->

  </form>
  <!-- Default form login -->
  <footer class="page-footer font-small blue bgColorBlue">
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2020 Copyright -
          <a href="/" id="LinkFooter"> Nexus.com</a>
      </div>
      <!-- Copyright -->
  </footer>
</body>

</html>